<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    Apreciado cliente,
    Adjunto encontrará la comunicación sobre la conclusión de su reclamación No. @NORECL; es importante para nosotros que se sienta satisfecho y
    por tal razón lo invitamos a contactarnos ante cualquier pregunta y/o sugerencia.

    <br />
    Asimismo queremos aprovechar la ocasión para recordarle los pasos necesarios para abrir una reclamación en RADIOCENTRO según nuestro procedimiento vigente, detallamos los pasos a continuación:
    <br />

    <br />1.	Facilitar su nombre, número de la factura comercial o pedido, el código de los artículos en cuestión y la fecha de despacho.
    <br />2.	Descripción de la inconformidad del artículo y/o queja.
    <br />3.	Fotos del  serial, del artículo, o la información misma en caso de no tener fotos.
    <br />
    <br />
    *Las fotos deben tener buena resolución.
    <br />
    <br />
    Le reiteramos nuestro compromiso en brindarle un servicio de calidad y le damos las gracias por la atención.
    <br />
    <br />
    Saludos,
    <br/>
    <br/>

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td><img src="cid:firmaLogo" alt="firmaLogo" /></td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="font-size: 13px; padding: 0;">#nombreRemitente#</td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; padding: 0;">Departamento de Quejas y Reclamaciones</td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; padding: 0;">T 809-685-7131 Ext. 271 </td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; padding: 0;">reclamaciones@radiocentro.com.do</td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; padding: 0;">Calle Paseo de los Periodistas #50, Miraflores</td>
                    </tr>
                    <tr>
                        <td style="font-size: 13px; padding: 0;">Santo Domingo, Rep. Dom.</td>
                    </tr>
                </table>
            </td>
        </tr>
        
    </table>

</body>
</html>